/target
/classes
/checkouts
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.DS_Store
.idea
local*
*.iml
figwheel_server.log
/.shadow-cljs
/public
/resources
.cpcache
/.calva
out
node_modules.clj-kondo/
.lsp/
.clj-kondo/
node_modules/
