{:paths   ["src"]
 :deps    {org.clojure/clojure       {:mvn/version "1.11.1"}
           org.clojure/clojurescript {:mvn/version "1.11.60"}
           org.clojure/core.async    {:mvn/version "1.6.673"}}
 :aliases {:cljs   {:extra-deps  {thheller/shadow-cljs {:mvn/version "2.20.20"}
                                  binaryage/devtools   {:mvn/version "1.0.6"}}
                    :extra-paths ["test"]}
           :test   {:extra-deps  {lambdaisland/kaocha                  {:mvn/version "1.77.1236"}
                                  io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                                        :git/sha "dfb30dd"}}
                    :extra-paths ["test"]}
           :jvm-test {:extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                                          :git/sha "dfb30dd"}}
                      :extra-paths ["test"]
                      :main-opts ["-m" "cognitect.test-runner"]
                      :exec-args {:nses [superv.async-test]
                                  :dirs ["test"]}
                      :exec-fn cognitect.test-runner.api/test}
           :cljs-test {:extra-paths ["test"]
                       :main-opts ["-m" "cljs.main" "-t" "node" "-m" "superv.node-runner"]}
           :build  {:deps       {io.github.seancorfield/build-clj {:git/tag "v0.6.7"
                                                                   :git/sha "22c2d09"}
                                 borkdude/gh-release-artifact     {:git/url "https://github.com/borkdude/gh-release-artifact"
                                                                   :sha     "a83ee8da47d56a80b6380cbb6b4b9274048067bd"}
                                 babashka/babashka.curl           {:mvn/version "0.1.1"}
                                 babashka/fs                      {:mvn/version "0.1.2"}
                                 cheshire/cheshire                {:mvn/version "5.10.2"}}
                    :ns-default build}
           :ffix   {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}
                    :main-opts  ["-m" "cljfmt.main" "fix"]}
           :format {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}
                    :main-opts  ["-m" "cljfmt.main" "check"]}}}
